/* popup default styles */
.popup-modal {
	display: none;
	position: fixed;
	z-index: 9999;
	width: 90%;
	top: 50%;
	left: 50%;
	margin-left: -45%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

.modal-offer {
	margin: auto;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	font-family: Helvetica, Arial, sans-serif;
}

.modal-content {
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	margin: auto;
	position: relative;
	color: #000;
}

.modal-text {
	text-align: center;
	padding: 20px
}

/* text colors */
.modal-text .text-red {
	color: #ff0000;
}
.modal-text .text-green {
	color: #008800;
}
.modal-text .text-white {
	color: #fff;
}
.modal-text .text-yellow {
	color: #ffff00;
}

.popup_overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index: 1001;
	opacity: .5
}

@media (max-width: 767px) {
	.popup-modal {
		overflow-wrap: break-word;
	  word-wrap: break-word;
	  -ms-word-break: break-all;
	  word-break: break-word;
	  -ms-hyphens: auto;
	  -moz-hyphens: auto;
	  -webkit-hyphens: auto;
	  hyphens: auto;
	}
}
@media (min-width: 768px) {
	.popup-modal {
		width: 600px;
		margin-left: -300px;
	}
}
@media (min-width: 990px) {
	.popup-modal {
		width: 800px;
		margin-left: -400px;
	}
}

/* popup styles */
.popup-light .modal-offer {
	background-color: #fff;
}
.popup-light .modal-content {
	color: #000;
}

.popup-dark .modal-offer {
	background-color: #000;
}
.popup-dark .modal-content {
	color: #fff;
}

/* glowing animation */
@keyframes glow-red{
	100% {
		outline: none;
		box-shadow: 0 0 20px rgba(255, 0, 0, 1);
	}
}
.glow-red {
	animation-name: glow-red;
	animation-duration: 0.7s;
	animation-timing-function: ease-in-out;
	animation-iteration-count:infinite;
	border-top: 10px solid rgba(255, 0, 0, 1);
}

@keyframes glow-green{
	100% {
		outline: none;
		box-shadow: 0 0 20px rgb(0, 154, 0);
	}
}
.glow-green {
	animation-name: glow-green;
	animation-duration: 0.7s;
	animation-timing-function: ease-in-out;
	animation-iteration-count:infinite;
}
.glow-green.modal-offer {
	border-top: 10px solid rgb(0, 154, 0);
}

@keyframes glow-yellow{
	100% {
		outline: none;
		box-shadow: 0 0 20px rgb(221, 221, 0);
	}
}
.glow-yellow {
	animation-name: glow-yellow;
	animation-duration: 0.7s;
	animation-timing-function: ease-in-out;
	animation-iteration-count:infinite;
}
.glow-yellow.modal-offer {
	border-top: 10px solid rgb(221, 221, 0);
}